// Carga de hoja de estilo tema principal
@import "original.scss"; //
@import "components/cv__experiencia.scss"; //
@import "components/cv__educacionFormal.scss"; //
@import "components/cv__educacionNoFormal.scss"; //

.bg-cv-0 {
  background-color: rgb(241, 238, 230); /* Leche de Coco PANTONE 11-0608-TCX */
  color: black;
  width: 90%;
}

.bg-cv-1 {
  background-color: #ffffff; /* Color del año 2020 */
  color: black;
  width: 90%;
}

/* Experiencias */
#about_me > p {
  font-size: small;
  code {
    font-size: small;
  }
}

@media (max-width: 1200px) {
  .bg-cv-0 {
    width: 90%;
  }
  .bg-cv-1 {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .bg-cv-0 {
    width: 100%;
  }
  .bg-cv-1 {
    width: 100%;
  }
  #about_me > p {
    font-size: smaller;
  }
}
