@charset "UTF-8";
/* Carga de componentes */
/*
La barra de navegación sobrelapa los otros componentes por esta en
posición "fixed-top" (es decir siempre aparece arriba), se debe
agregar un padding en el body para evitar esto.
*/
body {
  padding-top: 56px; }
  @media screen and (max-width: 1024px) {
    body {
      padding-top: 56px; } }
  @media screen and (max-width: 768px) {
    body {
      padding-top: 56px; } }
  @media screen and (max-width: 480px) {
    body {
      padding-top: 56px; } }
  @media screen and (max-width: 320px) {
    body {
      padding-top: 56px; } }

.jumbotron {
  background: #343a40;
  background: linear-gradient(160deg, #343a40 1%, #4c408a 10%, #00b3ff 20%, #00c4ff 30%, #00fff6 50%, rgba(248, 255, 254, 0.8) 60%, rgba(248, 255, 254, 0.1) 90%), white;
  color: white;
  text-shadow: 4px 4px 6px #1d2124;
  padding: 25px 0px;
  position: relative; }
  @media screen and (max-width: 1024px) {
    .jumbotron {
      padding-top: 25px;
      padding-bottom: 25px; } }
  @media screen and (max-width: 768px) {
    .jumbotron {
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media screen and (max-width: 480px) {
    .jumbotron {
      padding-top: 8px;
      padding-bottom: 8px; } }
  @media screen and (max-width: 320px) {
    .jumbotron {
      padding-top: 5px;
      padding-bottom: 5px; } }
  .jumbotron h1 {
    font: bold;
    font-size: 50px; }
    @media screen and (max-width: 1024px) {
      .jumbotron h1 {
        font-size: 40px; } }
    @media screen and (max-width: 768px) {
      .jumbotron h1 {
        font-size: 30px; } }
    @media screen and (max-width: 480px) {
      .jumbotron h1 {
        font-size: 30px; } }
    @media screen and (max-width: 320px) {
      .jumbotron h1 {
        font-size: 20px; } }
  @media screen and (max-width: 1024px) {
    .jumbotron p, .jumbotron .bg-4 a, .bg-4 .jumbotron a {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    .jumbotron p, .jumbotron .bg-4 a, .bg-4 .jumbotron a {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    .jumbotron p, .jumbotron .bg-4 a, .bg-4 .jumbotron a {
      font-size: 14px; } }
  @media screen and (max-width: 320px) {
    .jumbotron p, .jumbotron .bg-4 a, .bg-4 .jumbotron a {
      font-size: 12px; } }
  .jumbotron .jumbotron__container {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px; }
    @media screen and (max-width: 1024px) {
      .jumbotron .jumbotron__container {
        margin-left: 30px;
        margin-right: 30px; } }
    @media screen and (max-width: 768px) {
      .jumbotron .jumbotron__container {
        margin-left: 20px;
        margin-right: 20px; } }
    @media screen and (max-width: 480px) {
      .jumbotron .jumbotron__container {
        margin-left: 15px;
        margin-right: 15px; } }
    @media screen and (max-width: 320px) {
      .jumbotron .jumbotron__container {
        margin-left: 10px;
        margin-right: 10px; } }

/* Configuraciones del Carrusel */
.carousel-inner img {
  filter: none;
  -webkit-filter: none;
  margin: auto;
  height: auto;
  max-height: 200px; }
  @media screen and (min-width: 375px) {
    .carousel-inner img {
      max-height: calc(200px + 400 * ((100vw - 375px)/(1024-375)));
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); } }
  @media screen and (min-width: 1024px) {
    .carousel-inner img {
      max-height: 600px;
      -webkit-filter: grayscale(80%);
      filter: grayscale(80%); } }

.carousel-caption h3 {
  color: #fff !important; }

@media (max-width: 768px) {
  .carousel-caption {
    display: none;
    /* Esconder el texto de carrusel cuando la pantalla es menor de W = 600px*/ } }

/* Contenedor de ¿Quién Soy Yo? (Tema bg-2)*/
.bg-2 {
  /* Color del año 2020 - Contenedor */
  background-color: #0f4c81;
  color: #ffffff;
  padding: 60px 50px; }
  @media screen and (max-width: 1024px) {
    .bg-2 {
      width: 95%;
      padding: 50px 60px; } }
  @media screen and (max-width: 768px) {
    .bg-2 {
      width: 95%;
      padding: 30px 40px; } }
  @media screen and (max-width: 480px) {
    .bg-2 {
      width: 100%;
      padding: 20px 30px; } }
  @media screen and (max-width: 320px) {
    .bg-2 {
      width: 100%;
      padding: 10px 20px; } }
  .bg-2 h2 {
    font-size: 32px; }
    @media screen and (max-width: 1024px) {
      .bg-2 h2 {
        font-size: 32px; } }
    @media screen and (max-width: 768px) {
      .bg-2 h2 {
        font-size: 25px; } }
    @media screen and (max-width: 480px) {
      .bg-2 h2 {
        font-size: 20px; } }
    @media screen and (max-width: 320px) {
      .bg-2 h2 {
        font-size: 15px; } }
  .bg-2 p, .bg-2 .bg-4 a, .bg-4 .bg-2 a,
  .bg-2 a {
    font-size: 16px;
    color: white; }
    @media screen and (max-width: 1024px) {
      .bg-2 p, .bg-2 .bg-4 a, .bg-4 .bg-2 a,
      .bg-2 a {
        font-size: 16px; } }
    @media screen and (max-width: 768px) {
      .bg-2 p, .bg-2 .bg-4 a, .bg-4 .bg-2 a,
      .bg-2 a {
        font-size: 14px; } }
    @media screen and (max-width: 480px) {
      .bg-2 p, .bg-2 .bg-4 a, .bg-4 .bg-2 a,
      .bg-2 a {
        font-size: 14px; } }
    @media screen and (max-width: 320px) {
      .bg-2 p, .bg-2 .bg-4 a, .bg-4 .bg-2 a,
      .bg-2 a {
        font-size: 12px; } }

/* Contenedor Gris de Contacto*/
.bg-grey {
  /* Color del año 2020, contrario */
  background-color: #f6f6f6;
  color: #ffffff;
  padding: 60px 50px; }
  @media screen and (max-width: 1024px) {
    .bg-grey {
      width: 100%;
      padding: 50px 60px; } }
  @media screen and (max-width: 768px) {
    .bg-grey {
      width: 100%;
      padding: 30px 40px; } }
  @media screen and (max-width: 480px) {
    .bg-grey {
      width: 100%;
      padding: 20px 30px; } }
  @media screen and (max-width: 320px) {
    .bg-grey {
      width: 100%;
      padding: 10px 20px; } }
  .bg-grey h2 {
    font-size: 32px;
    color: #658dc6;
    padding-top: 10px;
    margin-bottom: 5px; }
    @media screen and (max-width: 1024px) {
      .bg-grey h2 {
        font-size: 32px; } }
    @media screen and (max-width: 768px) {
      .bg-grey h2 {
        font-size: 25px; } }
    @media screen and (max-width: 480px) {
      .bg-grey h2 {
        font-size: 20px; } }
    @media screen and (max-width: 320px) {
      .bg-grey h2 {
        font-size: 20px; } }
  .bg-grey p, .bg-grey .bg-4 a, .bg-4 .bg-grey a, .bg-grey a {
    font-size: 16px;
    color: black; }
    @media screen and (max-width: 1024px) {
      .bg-grey p, .bg-grey .bg-4 a, .bg-4 .bg-grey a, .bg-grey a {
        font-size: 16px; } }
    @media screen and (max-width: 768px) {
      .bg-grey p, .bg-grey .bg-4 a, .bg-4 .bg-grey a, .bg-grey a {
        font-size: 14px; } }
    @media screen and (max-width: 480px) {
      .bg-grey p, .bg-grey .bg-4 a, .bg-4 .bg-grey a, .bg-grey a {
        font-size: 14px; } }
    @media screen and (max-width: 320px) {
      .bg-grey p, .bg-grey .bg-4 a, .bg-4 .bg-grey a, .bg-grey a {
        font-size: 12px; } }

/* Colores de Footer */
.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
  height: 66px;
  padding: 15px 0px;
  vertical-align: middle;
  position: relative; }
  @media screen and (max-width: 1024px) {
    .bg-4 {
      width: 100%;
      padding: 20px 40px; } }
  @media screen and (max-width: 768px) {
    .bg-4 {
      width: 100%;
      padding: 20px 20px; } }
  @media screen and (max-width: 480px) {
    .bg-4 {
      width: 100%;
      padding: 10px 20px; } }
  @media screen and (max-width: 320px) {
    .bg-4 {
      width: 100%;
      padding: 5px 20px; } }
  .bg-4 p, .bg-4 a {
    color: white;
    line-height: 36px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block; }
    @media screen and (max-width: 1024px) {
      .bg-4 p, .bg-4 a {
        font-size: 16px; } }
    @media screen and (max-width: 768px) {
      .bg-4 p, .bg-4 a {
        font-size: 14px; } }
    @media screen and (max-width: 480px) {
      .bg-4 p, .bg-4 a {
        font-size: 14px; } }
    @media screen and (max-width: 320px) {
      .bg-4 p, .bg-4 a {
        font-size: 12px; } }
  .bg-4 a {
    color: #0056b3;
    text-decoration: solid; }

.navbar {
  margin-bottom: 0; }

.experiencia:disabled {
  color: blue; }
  .experiencia:disabled div.col-md-4 {
    max-width: 100%;
    flex: 0 0 100%; }
  .experiencia:disabled div.col-md-8 {
    display: none; }

.experiencia {
  background-color: #f3efe0;
  margin-bottom: 1vw;
  max-width: clamp(95%, calc(100% - 5 * ((100vw - 375px)/(1024-375))), 100%);
  border-radius: clamp(0%, calc(1% - ((100vw - 375px)/(1024-375))), 1%);
  padding: 1%; }
  .experiencia .experiencia__titulo {
    font-size: clamp(14px, calc(14px + 2 * ((100vw - 375px)/(1024-375))), 16px);
    padding-top: clamp(0px, calc(0px + 10 * ((100vw - 375px)/(1024-375))), 10px);
    padding-bottom: clamp(0px, calc(0px + 10 * ((100vw - 375px)/(1024-375))), 10px);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700;
    width: auto; }
  .experiencia .experiencia__periodo {
    margin-bottom: 10px; }
    @media (max-width: 768px) {
      .experiencia .experiencia__periodo {
        padding-bottom: 0%;
        padding-top: 0%;
        margin-bottom: 0%; } }
  .experiencia .experiencia__cargoTitulo {
    font-size: clamp(14px, calc(14px + 2 * ((100vw - 375px)/(1024-375))), 16px);
    padding-top: clamp(0px, calc(0px + 10 * ((100vw - 375px)/(1024-375))), 10px);
    padding-bottom: clamp(0px, calc(0px + 10 * ((100vw - 375px)/(1024-375))), 10px);
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic; }
  .experiencia .experiencia__cajaDescripcion {
    width: auto;
    font-size: small; }
    @media screen and (max-width: 1024px) {
      .experiencia .experiencia__cajaDescripcion {
        font-size: small; } }
    @media screen and (max-width: 768px) {
      .experiencia .experiencia__cajaDescripcion {
        font-size: smaller; } }
    @media screen and (max-width: 480px) {
      .experiencia .experiencia__cajaDescripcion {
        font-size: smaller; } }
    @media screen and (max-width: 320px) {
      .experiencia .experiencia__cajaDescripcion {
        font-size: smaller; } }
    .experiencia .experiencia__cajaDescripcion div {
      margin-top: 10px;
      margin-bottom: 10px; }
    .experiencia .experiencia__cajaDescripcion ul > li {
      width: fit-content; }
  .experiencia .experiencia__locacion {
    color: #22a39f;
    padding-bottom: 1%;
    width: 90%; }
    .experiencia .experiencia__locacion img > path {
      fill: #22a39f;
      color: #22a39f; }
    .experiencia .experiencia__locacion a {
      color: #22a39f;
      padding-bottom: 1%;
      width: 90%; }

#about_me.experiencia {
  padding-left: 5vw;
  padding-right: 5vw; }

.educacionFormal {
  background-color: #f3efe0;
  margin-bottom: 1vw;
  max-width: clamp(95%, calc(100% - 5 * ((100vw - 375px)/(1024-375))), 100%);
  border-radius: clamp(0%, calc(1% - ((100vw - 375px)/(1024-375))), 1%);
  padding: 1%; }
  .educacionFormal .educacionFormal__titulo {
    font-size: clamp(14px, calc(14px + 2 * ((100vw - 375px)/(1024-375))), 16px);
    padding-top: clamp(0px, calc(0px + 10 * ((100vw - 375px)/(1024-375))), 10px);
    padding-bottom: clamp(0px, calc(0px + 10 * ((100vw - 375px)/(1024-375))), 10px);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif !important;
    text-align: left;
    font-weight: 700; }
  .educacionFormal .educacionFormal__periodo {
    margin-bottom: 10px; }
  .educacionFormal .educacionFormal__tituloEducativo {
    font-size: clamp(14px, calc(14px + 2 * ((100vw - 375px)/(1024-375))), 16px);
    padding-top: clamp(0px, calc(0px + 10 * ((100vw - 375px)/(1024-375))), 10px);
    padding-bottom: clamp(0px, calc(0px + 10 * ((100vw - 375px)/(1024-375))), 10px);
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic; }
  .educacionFormal .educacionFormal__cajaDescripcion {
    width: auto;
    font-size: clamp(11px, calc(11px + 4 * ((100vw - 375px)/(1024-375))), 15px); }
    .educacionFormal .educacionFormal__cajaDescripcion div {
      margin-top: 10px;
      margin-bottom: 10px; }
    .educacionFormal .educacionFormal__cajaDescripcion ul > li {
      width: fit-content; }
  .educacionFormal .educacionFormal__locacion {
    color: #22a39f;
    padding-bottom: 1%;
    width: 90%; }
    .educacionFormal .educacionFormal__locacion img > path {
      fill: #22a39f;
      color: #22a39f; }
    .educacionFormal .educacionFormal__locacion a {
      color: #22a39f;
      padding-bottom: 1%;
      width: 90%; }

.educacionNoFormal, .publicaciones {
  background-color: #f3efe0;
  margin-bottom: 1vw;
  max-width: clamp(95%, calc(100% - 5 * ((100vw - 375px)/(1024-375))), 100%);
  border-radius: clamp(0%, calc(1% - ((100vw - 375px)/(1024-375))), 1%);
  padding: 1%; }
  .educacionNoFormal .educacionNoFormal__titulo, .publicaciones .educacionNoFormal__titulo {
    font-family: "Open Sans", sans-serif !important;
    font-size: clamp(14px, calc(14px + 2 * ((100vw - 375px)/(1024-375))), 16px);
    padding-top: clamp(0px, calc(0px + 10 * ((100vw - 375px)/(1024-375))), 10px);
    padding-bottom: clamp(0px, calc(0px + 10 * ((100vw - 375px)/(1024-375))), 10px);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    width: auto; }
  .educacionNoFormal .educacionNoFormal_tituloEducativo, .publicaciones .educacionNoFormal_tituloEducativo, .educacionNoFormal .entradaArticulo, .publicaciones .entradaArticulo {
    background-color: #f3efe0;
    margin-bottom: 1vw;
    max-width: clamp(95%, calc(100% - 5 * ((100vw - 375px)/(1024-375))), 100%);
    border-radius: clamp(0%, calc(1% - ((100vw - 375px)/(1024-375))), 1%);
    padding: 1%; }
  .educacionNoFormal .educacionNoFormal__cajaDescripcion, .publicaciones .educacionNoFormal__cajaDescripcion {
    width: auto;
    font-size: small; }
    @media screen and (max-width: 1024px) {
      .educacionNoFormal .educacionNoFormal__cajaDescripcion, .publicaciones .educacionNoFormal__cajaDescripcion {
        font-size: small; } }
    @media screen and (max-width: 768px) {
      .educacionNoFormal .educacionNoFormal__cajaDescripcion, .publicaciones .educacionNoFormal__cajaDescripcion {
        font-size: smaller; } }
    @media screen and (max-width: 480px) {
      .educacionNoFormal .educacionNoFormal__cajaDescripcion, .publicaciones .educacionNoFormal__cajaDescripcion {
        font-size: smaller; } }
    @media screen and (max-width: 320px) {
      .educacionNoFormal .educacionNoFormal__cajaDescripcion, .publicaciones .educacionNoFormal__cajaDescripcion {
        font-size: smaller; } }
    .educacionNoFormal .educacionNoFormal__cajaDescripcion div, .publicaciones .educacionNoFormal__cajaDescripcion div {
      margin-top: 10px;
      margin-bottom: 10px; }
    .educacionNoFormal .educacionNoFormal__cajaDescripcion ul > li, .publicaciones .educacionNoFormal__cajaDescripcion ul > li {
      width: fit-content; }
  .educacionNoFormal .educacionNoFormal__locacion, .publicaciones .educacionNoFormal__locacion {
    color: #22a39f;
    padding-bottom: 1%;
    width: 90%; }
    .educacionNoFormal .educacionNoFormal__locacion img > path, .publicaciones .educacionNoFormal__locacion img > path {
      fill: #22a39f;
      color: #22a39f; }
    .educacionNoFormal .educacionNoFormal__locacion a, .publicaciones .educacionNoFormal__locacion a {
      color: #22a39f;
      padding-bottom: 1%;
      width: 90%; }

.entradaArticulo {
  padding-left: 10px;
  padding-right: 10px; }

@media (max-width: 768px) {
  .publicaciones .entradaArticulo {
    padding-bottom: 5%;
    padding-top: 5%; } }

.bg-cv-0 {
  background-color: #f1eee6;
  /* Leche de Coco PANTONE 11-0608-TCX */
  color: black;
  width: 90%; }

.bg-cv-1 {
  background-color: #ffffff;
  /* Color del año 2020 */
  color: black;
  width: 90%; }

/* Experiencias */
#about_me > p, .bg-4 #about_me > a {
  font-size: small; }
  #about_me > p code, .bg-4 #about_me > a code {
    font-size: small; }

@media (max-width: 1200px) {
  .bg-cv-0 {
    width: 90%; }
  .bg-cv-1 {
    width: 90%; } }

@media (max-width: 768px) {
  .bg-cv-0 {
    width: 100%; }
  .bg-cv-1 {
    width: 100%; }
  #about_me > p, .bg-4 #about_me > a {
    font-size: smaller; } }
