$device_sizes: 320, 480, 768, 1024;

// Jumbotron
div.bg-blog-jumbotron {
  div.container {
    h1 {
      font-size: 50px;
      $adapted_size: 20px, 30px, 50px, 50px;
      @for $i from 1 to 5 {
        @media (max-width: nth($device_sizes, $i)) {
          font-size: nth($adapted_size, $i);
        }
      }
    }
  }
}

// Barra de ¿Quién Soy yo?
.bg-blog-0 {
  /* Color del año 2020 */
  background-color: white;

  p {
    color: black;
    text-align: justify;
  }

  h2 {
    text-align: justify;
  }

  @media (max-width: 1200px) {
    width: 90%;
    p {
      width: 90%;
    }
    h2 {
      width: 90%;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    p {
      width: 98%;
    }
    h2 {
      width: 100%;
      text-align: left;
    }
  }
}

div.card-body > p {
  font-size: small;
}

/* Contenedores Proyectos */
.img-thumbnail {
  width: 50%;

  @media (max-width: 768px) {
    width: 95%;
  }
}
