/* Contenedor de ¿Quién Soy Yo? (Tema bg-2)*/

// Tamaños de dispositivo

$device_sizes: 320, 480, 768, 1024;

.bg-2 {
  $adapted_width: 100, 100, 95, 95; // W adaptado
  $adapted_size_1: 15, 20, 25, 32; // Tamaño de fuente H2
  $adapted_size_2: 12, 14, 14, 16; // Tamaño de fuente para p
  $padding_h: 20, 30, 40, 60;
  $padding_v: 10, 20, 30, 50;

  /* Color del año 2020 - Contenedor */
  background-color: #0f4c81;
  color: #ffffff;
  padding: 60px 50px;

  @for $i from 4 to 0 {
    @media screen and (max-width: #{nth($device_sizes, $i) + "px"}) {
      width: #{nth($adapted_width, $i) + "%"};
      padding: #{nth($padding_v, $i) + "px"} #{nth($padding_h, $i) + "px"};
    }
  }

  h2 {
    font-size: 32px;

    @for $i from 4 to 0 {
      @media screen and (max-width: #{nth($device_sizes, $i) + "px"}) {
        font-size: #{nth($adapted_size_1, $i) + "px"};
      }
    }
  }

  p,
  a {
    font-size: 16px;
    color: white;

    @for $i from 4 to 0 {
      @media screen and (max-width: #{nth($device_sizes, $i) + "px"}) {
        font-size: #{nth($adapted_size_2, $i) + "px"};
      }
    }
  }
}
