/* Contenedor Gris de Contacto*/

// Tamaños de dispositivo

$device_sizes: 320, 480, 768, 1024;

.bg-grey {
  $adapted_width: 100, 100, 100, 100; // W adaptado
  $adapted_size_1: 20, 20, 25, 32; // Tamaño de fuente H2
  $adapted_size_2: 12, 14, 14, 16; // Tamaño de fuente para p
  $padding_h: 20, 30, 40, 60;
  $padding_v: 10, 20, 30, 50;

  /* Color del año 2020, contrario */
  background-color: #f6f6f6;
  color: #ffffff;
  padding: 60px 50px;

  @for $i from 4 to 0 {
    @media screen and (max-width: #{nth($device_sizes, $i) + "px"}) {
      width: #{nth($adapted_width, $i) + "%"};
      padding: #{nth($padding_v, $i) + "px"} #{nth($padding_h, $i) + "px"};
    }
  }

  h2 {
    font-size: 32px;
    color: #658dc6;
    padding-top: 10px;
    margin-bottom: 5px;

    @for $i from 4 to 0 {
      @media screen and (max-width: #{nth($device_sizes, $i) + "px"}) {
        font-size: #{nth($adapted_size_1, $i) + "px"};
      }
    }
  }

  p, a {
    font-size: 16px;
    color: black;

    @for $i from 4 to 0 {
      @media screen and (max-width: #{nth($device_sizes, $i) + "px"}) {
        font-size: #{nth($adapted_size_2, $i) + "px"};
      }
    }
  }
}
