/* CONTENEDORES PARA BLOGS */

// Tamaños de los Dispositivos
$device_sizes: 320, 480, 768, 1024;

// Contenedores de Texto Estándar para Blogs
.bg-blog-0 {
  $adapted_font_2: medium, large, large, larger; // Tamaño de fuente H2
  $adapted_font_3: medium, medium, medium, large; // Tamaño de fuente H3
  $adapted_font_4: small, small, medium, medium; // Tamaño de fuente H3
  $adapted_font_6: smaller, smaller, small, small; // Tamaño de fuente normal

  p,
  ul,
  ol,
  span.equation,
  div.card-body,
  button.btn-gray {
    font-size: medium;
    text-align: justify;
    overflow: auto;

    @for $i from 4 to 0 {
      @media screen and (max-width: (nth($device_sizes, $i) + "px")) {
        font-size: #{nth($adapted_font_6, $i)};
      }
    }
  }

  span.equation {
    display: block;
  }

  %teorema-comp {
    border-color: dodgerblue;
    border-style: solid;
    margin-top: 20px;
  }

  p.teorema {
    background-color: dodgerblue;
    color: white;
    padding: 25px;
    border-radius: 25px;
    border-width: 3px;
    @extend %teorema-comp
  }
  
  p.teorema-ecuacion {
    background-color: #1e90ff40;
    color: #474747;
    padding: 16px;
    border-radius: 20px;
    border-width: 4px;
    @extend %teorema-comp
  }
  

  h2 {
    font-size: larger;
    @for $i from 4 to 0 {
      @media screen and (max-width: (nth($device_sizes, $i) + "px")) {
        font-size: #{nth($adapted_font_2, $i)};
      }
    }
  }

  h3 {
    font-size: large;
    @for $i from 4 to 0 {
      @media screen and (max-width: (nth($device_sizes, $i) + "px")) {
        font-size: #{nth($adapted_font_3, $i)};
      }
    }
  }

  h4 {
    font-size: large;
    @for $i from 4 to 0 {
      @media screen and (max-width: (nth($device_sizes, $i) + "px")) {
        font-size: #{nth($adapted_font_4, $i)};
      }
    }
  }
}
