/* Configuraciones del Carrusel */
.carousel-inner {
  img {
    filter: none;
    -webkit-filter: none;
    margin: auto;
    height: auto;
    max-height: 200px;
    
    
    @media screen and (min-width: 375px) {
      max-height: calc(200px + 400 * ((100vw - 375px)/(1024-375)));
      
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%);
    }
    @media screen and (min-width: 1024px) {
      max-height: 600px;
      
      -webkit-filter: grayscale(80%);
      filter: grayscale(80%);
    }
  }
}
.carousel-caption {
  h3 {
    color: #fff !important;
  }
  @media (max-width: 768px){
    display: none; /* Esconder el texto de carrusel cuando la pantalla es menor de W = 600px*/
  }
}
