/* Configuraciones del Carrusel */
.carousel-inner {
  img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    margin: auto;
    height: auto;
    max-height: 600px;
    
    /*Breakpoints para Sitio Web con responsibidad en el carrusel*/
    @media (max-width: 575px) {
      filter: none; /* Color normal */
      -webkit-filter: none;
      max-height: 300px;
    }
    @media (max-width: 768px) {
      max-height: 400px;
    }
    @media (max-width: 992px) {
      width: 60%;
    }
    @media (max-width: 1200px) {
      width: 50%;
    }
    //
  }
}
.carousel-caption {
  h3 {
    color: #fff !important;
  }
  @media (max-width: 575px){
    display: none; /* Esconder el texto de carrusel cuando la pantalla es menor de W = 600px*/
  }
}
