@import "cv__auxiliares.scss";

.educacionNoFormal {
  @include contenedor();
  $adapted_description_font-size: smaller, smaller, smaller, small;


  .educacionNoFormal__titulo {
    font-family: "Open Sans", sans-serif !important;
    
    @include contenedor_titulo();
    font-weight: 700;
    
    width: auto;
    
  }
  .educacionNoFormal_tituloEducativo {
    @include contenedor();
  }

  .educacionNoFormal__cajaDescripcion {
    width: auto;
    font-size: small;

    @for $i from 4 to 0 {
      @media screen and (max-width: (nth($device_sizes, $i) + "px")) {
        font-size: #{nth($adapted_description_font-size, $i)};
      }
    }

    div {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    ul > li {
      width: fit-content;
    }
  }

  .educacionNoFormal__locacion{
    color: #22a39f;
    padding-bottom: 1%;
    width: 90%;
    img > path {
      fill: #22a39f;
      color: #22a39f;
    }
    a {
      color: #22a39f;
      padding-bottom: 1%;
      width: 90%;
    }
  }

}

// Publicaciones
.publicaciones{
  @extend .educacionNoFormal;
}
.entradaArticulo {
  @extend .educacionNoFormal_tituloEducativo;
  padding-left: 10px;
  padding-right: 10px;
}

.publicaciones .entradaArticulo{
    @media (max-width: 768px) {
      padding-bottom: 5%;
      padding-top:    5%;
    }
}