@import "cv__auxiliares.scss";

.educacionFormal {
  @include contenedor();

  .educacionFormal__titulo {
    @include contenedor_titulo();
    font-family: "Open Sans", sans-serif !important;
    text-align: left;
    font-weight: 700;
  }

  .educacionFormal__periodo {
    margin-bottom: 10px;
  }
  .educacionFormal__tituloEducativo {
    @include contenedor_titulo();    
    font-style: italic;
  }

  .educacionFormal__cajaDescripcion {
    width: auto;
    font-size: clamp(11px, calc(11px + 4 * ((100vw - 375px)/(1024-375)) ), 15px);

    div {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    ul > li {
      width: fit-content;
    }
  }

  .educacionFormal__locacion {
    color: #22a39f;
    padding-bottom: 1%;
    width: 90%;
    img > path {
      fill: #22a39f;
      color: #22a39f;
    }
    a {
      color: #22a39f;
      padding-bottom: 1%;
      width: 90%;
    }
  }

}
