@import "cv__auxiliares.scss";

// Tamaño de dispositivo
$device_sizes: 320, 480, 768, 1024;

.experiencia:disabled {
  color: blue;

  div.col-md-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  div.col-md-8 {
    display: none;
  }
}

.experiencia {
  @include contenedor();

  $adapted_width: 100, 100, 100, 90;
  $adapted_border-radius: 1, 1, 0, 0;
  $adapted_description_font-size: smaller, smaller, smaller, small;

  .experiencia__titulo {
    @include contenedor_titulo();
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700;
    width: auto;
  }

  .experiencia__periodo {
    margin-bottom: 10px;

    @media (max-width: 768px) {
      padding-bottom: 0%;
      padding-top: 0%;
      margin-bottom: 0%;
    }
  }

  .experiencia__cargoTitulo {
    @include contenedor_titulo();
    font-style: italic;
  }

  .experiencia__cajaDescripcion {
    width: auto;
    font-size: small;

    @for $i from 4 to 0 {
      @media screen and (max-width: (nth($device_sizes, $i) + "px")) {
        font-size: #{nth($adapted_description_font-size, $i)};
      }
    }

    div {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    ul > li {
      width: fit-content;
    }
  }

  .experiencia__locacion {
    color: #22a39f;
    padding-bottom: 1%;
    width: 90%;
    img > path {
      fill: #22a39f;
      color: #22a39f;
    }
    a {
      color: #22a39f;
      padding-bottom: 1%;
      width: 90%;
    }
  }
}

// El panel principal de experiencia
#about_me.experiencia {
  padding-left: 5vw;
  padding-right: 5vw;
}
