// Tema de Jumbotron
$gColor1: rgb(52, 58, 64);
$gColor2: rgb(76, 64, 138);
$gColor3: rgb(0, 179, 255);
$gColor4: rgb(0, 196, 255);
$gColor5: rgb(0, 255, 246);
$gColor6: rgba(248, 255, 254, 0.8);
$gColor7: rgba(248, 255, 254, 0.6);

// Tamaño de dispositivo
$device_sizes: 320, 480, 768, 1024;

// Jumbotron

.jumbotron {
  // Variables
  $adapted_size_1: 20px, 30px, 30px, 40px;  // Tamaño de fuente H1
  $adapted_size_2: 12, 14, 14, 16;          // Tamaño de fuente para p
  $adapted_padding: 5px, 08px, 10px, 25px;  // Padding de Jumbotron
  $adapted_margin: 10, 15, 20, 30;          // Márgenes horizontales

  background: $gColor1;
  background: linear-gradient(
    160deg,
    $gColor1 01%,
    $gColor2 10%,
    $gColor3 20%,
    $gColor4 30%,
    $gColor5 50%,
    $gColor6 60%,
    $gColor7 90%,
  ), white;
  color: white;
  text-shadow: 4px 4px 6px rgb(29, 33, 36);
  padding: 25px 0px;
  position: relative;

  @for $i from 4 to 0 {
    @media screen and (max-width: (nth($device_sizes, $i) + "px")) {
      padding-top: nth($adapted_padding, $i);
      padding-bottom: nth($adapted_padding, $i);
    }
  }

  h1 {
    font: bold;
    font-size: 50px;
    // Tiene que ser en sentido contrario para respetar la cascada
    @for $i from 4 to 0 {
      @media screen and (max-width: (nth($device_sizes, $i) + "px")) {
        font-size: nth($adapted_size_1, $i);
      }
    }
  }

  p {
    @for $i from 4 to 0 {
      @media screen and (max-width: (nth($device_sizes, $i) + "px")) {
        font-size: #{nth($adapted_size_2, $i) + "px"};
      }
    }
  }

  .jumbotron__container {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;

    @for $i from 4 to 0 {
      @media screen and (max-width: (nth($device_sizes, $i) + "px")) {
        margin-left: #{nth($adapted_margin, $i) + "px"};
        margin-right: #{nth($adapted_margin, $i) + "px"};
      }
    }
  }
}
